{{ define "yield"	}}

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card card-body">
                <h4 class="text-center">Galleries</h4>
                
            </div>
        </div>
    </div>


</div>


{{ end	}}


